@font-face {
    font-family: 'alluraregular';
    src: url('./fonts/allura-regular-webfont.eot');
    src: url('./fonts/allura-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/allura-regular-webfont.woff2') format('woff2'),
         url('./fonts/allura-regular-webfont.woff') format('woff'),
         url('./fonts/allura-regular-webfont.ttf') format('truetype'),
         url('./fonts/allura-regular-webfont.svg#alluraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('./fonts/josefinsans-semibold-webfont.eot');
    src: url('./fonts/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('./fonts/josefinsans-semibold-webfont.woff') format('woff'),
         url('./fonts/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('./fonts/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sanslight_italic';
    src: url('./fonts/josefinsans-lightitalic-webfont.eot');
    src: url('./fonts/josefinsans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/josefinsans-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/josefinsans-lightitalic-webfont.woff') format('woff'),
         url('./fonts/josefinsans-lightitalic-webfont.ttf') format('truetype'),
         url('./fonts/josefinsans-lightitalic-webfont.svg#josefin_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sansregular';
    src: url('./fonts/josefinsans-regular-webfont.eot');
    src: url('./fonts/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('./fonts/josefinsans-regular-webfont.woff') format('woff'),
         url('./fonts/josefinsans-regular-webfont.ttf') format('truetype'),
         url('./fonts/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sanslight';
    src: url('./fonts/josefinsans-light-webfont.eot');
    src: url('./fonts/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/josefinsans-light-webfont.woff2') format('woff2'),
         url('./fonts/josefinsans-light-webfont.woff') format('woff'),
         url('./fonts/josefinsans-light-webfont.ttf') format('truetype'),
         url('./fonts/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sansthin';
    src: url('./fonts/josefinsans-thin-webfont.eot');
    src: url('./fonts/josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/josefinsans-thin-webfont.woff2') format('woff2'),
         url('./fonts/josefinsans-thin-webfont.woff') format('woff'),
         url('./fonts/josefinsans-thin-webfont.ttf') format('truetype'),
         url('./fonts/josefinsans-thin-webfont.svg#josefin_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sansitalic';
    src: url('./fonts/josefinsans-italic-webfont.eot');
    src: url('./fonts/josefinsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/josefinsans-italic-webfont.woff2') format('woff2'),
         url('./fonts/josefinsans-italic-webfont.woff') format('woff'),
         url('./fonts/josefinsans-italic-webfont.ttf') format('truetype'),
         url('./fonts/josefinsans-italic-webfont.svg#josefin_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sansbold_italic';
    src: url('./fonts/josefinsans-bolditalic-webfont.eot');
    src: url('./fonts/josefinsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/josefinsans-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/josefinsans-bolditalic-webfont.woff') format('woff'),
         url('./fonts/josefinsans-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/josefinsans-bolditalic-webfont.svg#josefin_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #FFFFFF;
    margin: 0;
}
#bjtitle {
    font-family: 'alluraregular';
    color: black;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: normal;
}
.bjname {
    font-family: 'josefin_sanssemibold';
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
}
#ampersand {
    font-size: 10px;
    margin: 3px;
}
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
h5 {
    margin: 5px;
    text-align: center;
    letter-spacing: 2px;
}
#date {
    border-right: grey solid 1px;
    padding-right: 25px;
}
#location {
    border-left: grey solid 1px;
    padding-left: 25px;
}
#day {
    font-family: 'josefin_sanslight_italic';
}
#month {
    font-family: 'josefin_sanssemibold';
    margin-bottom: 0;
}
#number {
    font-family: 'josefin_sanssemibold';
    font-size: 40px;
    height: 40px;
    margin-top: -5px;
}
#year {
    font-family: 'josefin_sansregular';
}
#place {
    font-family: 'josefin_sanssemibold';
}
#address {
    font-family: 'josefin_sanslight_italic';
    font-size: 10px;
    margin: 18px 0;
}
#time {
    font-family: 'josefin_sanssemibold';
}
#image {
    width: 250px;
    display: block;
    margin: 20px auto;
}