@font-face {
    font-family: 'OneLove';
    src: url('./fonts/onelove_free_personal_use-webfont.eot');
    src: url('./fonts/onelove_free_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/onelove_free_personal_use-webfont.woff2') format('woff2'),
         url('./fonts/onelove_free_personal_use-webfont.woff') format('woff'),
         url('./fonts/onelove_free_personal_use-webfont.ttf') format('truetype'),
         url('./fonts/onelove_free_personal_use-webfont.svg#onelove_free_for_personal_uRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('./fonts/PlayfairDisplaySC-Regular.eot');
    src: url('./fonts/PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
        url('./fonts/PlayfairDisplaySC-Regular.woff') format('woff'),
        url('./fonts/PlayfairDisplaySC-Regular.ttf') format('truetype'),
        url('./fonts/PlayfairDisplaySC-Regular.svg#PlayfairDisplaySC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Italic';
    src: url('./fonts/PlayfairDisplaySC-Italic.eot');
    src: url('./fonts/PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PlayfairDisplaySC-Italic.woff2') format('woff2'),
        url('./fonts/PlayfairDisplaySC-Italic.woff') format('woff'),
        url('./fonts/PlayfairDisplaySC-Italic.ttf') format('truetype'),
        url('./fonts/PlayfairDisplaySC-Italic.svg#PlayfairDisplaySC-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
html { 
    height: 100%; 
}
body {
    background-color: #F9F9F9;
    margin: 0;
}
#pagetitle {
    font-family: 'OneLove';
    font-size: 100px;
    text-align: center;
    margin-bottom: 0;
    color: #8E8E8E;
    text-shadow: 0px 4px 4px rgba(128, 128, 128, 50);
}
#date {
    font-family: 'OneLove';
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    color: #8E8E8E;
}
#formbox {
    width: 100%;
    height: 55%;
    background-image: linear-gradient(to right, #8E8E8E, #D6D6D6, #8E8E8E);
    box-shadow: 0px -4px 4px rgba(128, 128, 128, 50);
    position: absolute;
    bottom: 0;
}
#subtitle {
    font-family: 'OneLove';
    /* font-size: 100px; */
    text-align: center;
    margin-bottom: 0;
    color: #C4A098;
    text-shadow: 1px 1px 10px rgba(258, 258, 258, 50);
}
.formdiv {
    font-family: 'Playfair Italic';
    font-size: 25px;
    width: 80%;
    margin: auto;
}
h5 {
    margin: 0;
    color: #F9F9F9;
    text-shadow: 1px 1px 10px rgba(128, 128, 128, 50);
    margin-bottom: 5px;
    margin-top: 5px;
}
input {
    width: 100%;
    height: 35px;
    font-family: 'Playfair Italic';
    font-size: 20px;
    border-color: #C4A098;
    border-style: ridge;
    border-width: 4px;
    margin: auto;
}
#submit {
    font-family: 'Playfair';
    font-size: 25px;
    border-style: solid;
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
    color: #C4A098;
    background-color: #EEDBD7;
    padding: 5px 0 40px 0;
}
@media only screen and (max-width: 700px) {
    #pagetitle {
        font-size: 80px;
    }
}
@media only screen and (max-width: 570px) {
    #pagetitle {
        font-size: 70px;
    }
}
@media only screen and (max-width: 500px) {
    #pagetitle {
        font-size: 55px;
    }
    #formbox {
        height: 65%;
    }
}
@media only screen and (max-width: 400px) {
    #pagetitle {
        font-size: 45px;
    }
}